html, body {
	margin: 0;
	padding: 0;
}
.wrapper {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	background-image: url(../images/chalkboard.png);
	display: flex;
	flex-wrap: wrap;
}
.titleBox {
	text-align: center;
	margin-top: .5em;
	/*background-color: #F6996A;*/
	width: 100%;
	height: 75px;

}
.box1 {
	/*background-color: red;*/
	width: 50%;
	height: 100%;
	float: left;
}.box2 {
	/*background-color: blue;*/
	width: 50%;
	height: 100%;
	float: right;
}
.sidebar, .main {
	height: 720px;
}
.sidebar {
	background-color: black;
	width: 15%;
}
.mainTitle {
	width: 100%;
	height: 15%;
	text-align: center;
	/*background-color: blue;*/
}
.mainTitle h4{
	color: #F6996A
}
.main, .nav {
	/*background-color: green;*/
	width: 85%;
}
.main {
	border-top: 2px solid #FFFFFF;
}
.main h2 {
	color: #ffffff;
	/*text-align: center;*/
}
.navBox {
	width: 100%;
	height: 30px;
}
.nav {
	/*order: 1;*/
	margin-left: auto;
	/*background-color: gray;*/
	/*width: 85%;*/
	height: 100%;
}
.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav li {
	float: left;
}
.nav a {
	display: block;
	color: #FFFFFF;
	/*width: 120px;*/
	margin-right: 50px;
	margin-left: 50px;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
}
.nav a:hover, a:active {
	background-color: #000000;
}
.mainContent {
	width: 100%;
	height: 50%;
	/*background-color: yellow;*/

}
.mainContent img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.bannerBox {
	width: 100%;
	height: 20%;
	color: #FFFFFF;
	/*background-color: red;*/
  	display: flex;
  	align-items: center;
  	justify-content: center;	
}
#banner {
	font-size: 1.5em;
	/*background-color: green;*/
	width: 90%;
	align-self: flex-end;

}
#accordion {
	margin: auto;
	font-size: .7em;
	width: 60%;
	/*overflow: scroll;*/
}
#accordion h3{
	font-weight: bold;
	font-size: 1.2em;
}
