.wrapper {
	height: 650px;
	width: 900px;
	margin: auto;

}
.titleBox {
	color: red;
	background-color: green;
	text-align: center;
	width: 100%;
	height: 10%;
	float: clear;


}
.sidebar {
	background-color: blue;
	width: 20%;
	height: 100%;
	float: left;

}
.main {
	font-size: .8em;
	width: 80%;
	height: 100%;
	background-image: url(../images/chalkboard.png);
	float: right;
}
.main h2 {
	color: #ffffff;
	text-align: center;
}
#accordion {
	/*padding-top: 25px;*/
	margin: auto;
	width: 75%;
	/*height: 85%;*/
	overflow: scroll;
	/*background-color: lightgreen;*/
}